* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    background-color:  hsl(30, 38%, 92%);
    

}

.main {
    display: flex;
    width: 550px;
    border-radius: 2%;
    margin-inline: auto;
    margin-block: 230px;;
    overflow: hidden;

}

img {
   display: block;
   max-width: 100%;
/*   
   border-top-left-radius:4% ;
   border-bottom-left-radius:4% ; */
}
.img-container{
    flex-basis: 50%;
}

.content {
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
    padding-top: 30px;
    background-color: white;
    flex-basis: 50%;
    /* border-top-right-radius: 4%; */
    /* border-bottom-right-radius: 4%; */
   

}

header {
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    color: gray;
    font-weight: 500;
    padding-bottom: 10px;


    
}

.heading {
font-size: 35px;
margin: 0;
}

.content .p0 {
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    color: gray;
    

}
.price {
    display: flex;
    justify-content: space-around;
    align-items: center;

    
}
.price .p1{
    text-decoration: none;
    color: hsl(158, 36%, 37%);
    font-size: 25px;
    font-weight: bold;
    font-family: "Fraunces", serif;
    
    
}
.price .p2 {
    color: gray;
    font-size: 12px;
    text-decoration: line-through;
    font-family: "Montserrat", sans-serif;

}

.add-to a {
    display: block;
    text-decoration: none;
    color: white;
    background-color: hsl(158, 36%, 37%);
    padding: 16px;
    overflow: hidden;
    border-radius: 10px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    
    

}
svg {
    margin-right: 10px;
}
